/.idea
.vscode/
finetuning/__pycache__/
translation/__pycache__/

# Virtual environment
/venv
/Include
/Lib
/Scripts
pyvenv.cfg

# Environment variables
.env

# Model Files
/models/hf
/models/ft
/share
/nanai_lora

# Configs
/finetuning/finetune_cfg.yaml

